@{
    ViewData["Title"] = $"Contact - {RentalDataWarehouse.ConfigurationData.BusinessInfo["Name"]}";
}
<h2>@ViewData["Title"].</h2>

<address>
@RentalDataWarehouse.ConfigurationData.BusinessInfo["Address"]<br />
    <abbr title="Phone">Phone: @RentalDataWarehouse.ConfigurationData.BusinessInfo["Phone"]</abbr>
    
</address>

<address>
    <strong>Primary:</strong> <a href="mailto:Marketing@example.com">@RentalDataWarehouse.ConfigurationData.BusinessInfo["PrimaryEmail"]</a>
    <strong>Support:</strong> <a href="mailto:Support@example.com">@RentalDataWarehouse.ConfigurationData.BusinessInfo["SupportEmail"]</a><br />    
</address>
